certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
cx-Oracle==7.3.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
neobolt==1.7.16
neotime==1.7.4
prompt-toolkit==2.0.10
py2neo==4.3.0
Pygments==2.3.1
pytz==2019.3
requests==2.22.0
six==1.14.0
thrift==0.13.0
urllib3==1.24.3
wcwidth==0.1.8
Werkzeug==0.16.1
